#app {
  // 页面宽度
  --page-width: 1000px;
  // 字体
  --font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Helvetica Neue,sans-serif;
  // 默认尺寸
  --font-size: 14px;
  // 标题尺寸
  --font-size-title: 18px;
  // 小号尺寸
  --font-size-mini: 12px;
  // 中号尺寸
  --font-size-middle: 16px;
  // 大号尺寸
  --font-size-large: 22px;
  // 搜索输入框高度
  --input-search-height: 50px;
  // 默认边框
  --border-default-color: #eee;
}
