#app {
  // 页面宽度
  --page-width: 1000px;
  // 页面阴影
  --page-shadow: 0 0 20px -5px #ccc;
  // 表单
  --form-shadow: 1px 1px 10px -5px #999;
  --form-width: 780px;
  // 字体
  --font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
  --font-family-number: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  // 默认尺寸
  --font-size: 14px;
  // 标题尺寸
  --font-size-title: 18px;
  // 小号尺寸
  --font-size-mini: 12px;
  // 中号尺寸
  --font-size-middle: 16px;
  // 大号尺寸
  --font-size-large: 22px;
  // 搜索输入框高度
  --input-search-height: 50px;
  // 默认边框
  --border-default-color: #eee;
  --border-default-color-deep: #ccc;
  --border-colors: linear-gradient(to right, var(--primary-color), var(--primary-color-match-2), var(--primary-color-match-1)) 1;
  // 间距
  --gap-title: 20px;
  // 页面底部预留间距
  --gap-page-bottom: 50px;
  --gap-page-padding: 30px;
  // 圆弧
  --radius-page: 10px;
}
