@import "app-vars";
@import "theme-light";
@import "element-ui";
html {
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  h1,h2,h3,h4,h5,h6,ul,li,p {
    margin: 0;
    padding: 0;
  }
  ul,ol {
    list-style: none;
  }
  * {
    box-sizing: border-box;
  }
  #app {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    font-size: var(--font-size);
    color: var(--font-color);
    background-color: var(--background-color);
    font-family: var(--font-family);
    a {
      text-decoration: none;
      color: var(--font-color)
    }
  }
}
