@font-face {
  font-family: "iconfont"; /* Project id 4252249 */
  /* Color fonts */
  src:
          url('//at.alicdn.com/t/c/font_4252249_ptf6mgv5tx.woff2?t=1695733881847') format('woff2'),
          url('//at.alicdn.com/t/c/font_4252249_ptf6mgv5tx.woff?t=1695733881847') format('woff'),
          url('//at.alicdn.com/t/c/font_4252249_ptf6mgv5tx.ttf?t=1695733881847') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenjian:before {
  content: "\e691";
}

.icon-time:before {
  content: "\e65d";
}

.icon-plugin:before {
  content: "\e69d";
}

.icon-code:before {
  content: "\e6f7";
}
