@font-face {
  font-family: "iconfont"; /* Project id 4252249 */
  src: url('//at.alicdn.com/t/c/font_4252249_ofc8u294d3m.woff2?t=1694841963950') format('woff2'),
  url('//at.alicdn.com/t/c/font_4252249_ofc8u294d3m.woff?t=1694841963950') format('woff'),
  url('//at.alicdn.com/t/c/font_4252249_ofc8u294d3m.ttf?t=1694841963950') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-time:before {
  content: "\e65d";
}

.icon-plugin:before {
  content: "\e69d";
}

.icon-code:before {
  content: "\e6f7";
}
