body.theme-light {
  // 主色调
  --primary-color: #2e3444;
  --primary-color-light: #394054;
  --primary-color-common: #105fc9;
  --primary-color-reverse: #fff;
  --primary-color-match-1: #FFE957;
  --primary-color-match-1-transition: #e5d14e;
  --primary-color-match-1-dark: #655c23;
  --primary-color-match-1-light: #fffad6;
  --primary-color-match-2: #fc6a70;
  --primary-color-match-2-transition: #cb5053;
  --primary-color-match-2-light: #ffd2d4;
  --primary-color-match-2-light1: #ff898e;
  --primary-color-match-3: #ff00ff;
  --primary-color-3: #555;
  --primary-color-5: #777;
  --primary-color-7: #999;
  --primary-color-8: #bbb;
  --primary-color-9: #ddd;
  // 背景色
  --background-color: #fafafa;
  --background-color-tip: #FFE957;
  // 字体
  --font-color: #333;
  // 输入框边框色
  --input-border-color: #666;
  --input-border-hover-color: #c0c4cc;
  // 色彩
  --color-gray: #757575;
  --color-gray-deep: #555;
  --color-gray-1: #999;
  --color-gray-2: #f0f0f0;
  --color-gray-3: #f5f5f5;
  --color-gray-4: #e0e0e0;
  --color-gray-selected: #efefef;
  --color-light: #fff;
  --color-success: #42b883;
  --color-success-light: #dbffef;
  --color-danger: #fc6a70;
  --color-value: #333;
  --color-service-name: #005980;
  --color-service-name-hover: #1283ba;
}
