body.theme-light {
  // 主色调
  --primary-color: #FFE957;
  --primary-color-match-1: #333;
  --primary-color-match-1-transition: #666;
  --primary-color-match-2: #FC777D;
  --primary-color-match-3: #ff00ff;
  --primary-color-dark: #d3b300;
  --primary-color-3: #fae464;
  --primary-color-5: #fdec7d;
  --primary-color-7: #faec91;
  --primary-color-8: #faf1b6;
  --primary-color-9: #f8f1c4;
  // 背景色
  --background-color: #fafafa;
  // 字体
  --font-color: #333;
  // 输入框边框色
  --input-border-color: #666;
  // 色彩
  --color-gray: #757575;
  --color-gray-1: #999;
  --color-light: #fff;
}
