@font-face {
  font-family: "iconfont"; /* Project id 4252249 */
  src: url('iconfont.woff2?t=1742890910616') format('woff2'),
       url('iconfont.woff?t=1742890910616') format('woff'),
       url('iconfont.ttf?t=1742890910616') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fontsize:before {
  content: "\e732";
}

.icon-wenjian:before {
  content: "\e691";
}

.icon-time:before {
  content: "\e65d";
}

.icon-plugin:before {
  content: "\e69d";
}

.icon-code:before {
  content: "\e6f7";
}

